<div class="hero-content-column text-center text-xl-start">
  <h1 class="hero-heading text-white mb-3">Development<br />done right</h1>
  <small class="hero-description d-block text-white opacity-90 mt-1"
    >Build a beautiful, modern website with flexible components built from
    scratch</small
  >
  <button
    type="button"
    class="btn hero-main-button btn-light fw-medium px-4 py-3 rounded shadow-sm d-inline-flex align-items-center gap-2 mt-3"
  >
    Get Started
    <span class="hero-main-button-icon">+</span>
  </button>

  <div
    class="trusted-companies d-flex flex-wrap align-items-center justify-content-center justify-content-xl-start gap-3 gap-xl-4 mt-5 pt-4"
  >
    <h6 class="text-white small mb-0 opacity-90 me-2">Trusted by:</h6>
    <div
      class="trusted-companies-list d-flex flex-wrap align-items-center gap-3 gap-xl-4"
    >
      <img
        class="trusted-company-item trusted-company-item-image"
        src="assets/images/google-white.svg"
        alt="Google"
      />
      <img
        class="trusted-company-item trusted-company-item-image"
        src="assets/images/spotify-white.svg"
        alt="Spotify"
      />
      <img
        class="trusted-company-item trusted-company-item-image"
        src="assets/images/airbnb-white.svg"
        alt="Airbnb"
      />
      <img
        class="trusted-company-item trusted-company-item-image"
        src="assets/images/paypal-white.svg"
        alt="PayPal"
      />
    </div>
  </div>
</div>
