<div class="hero-section container content-margin py-4 py-xl-5">
    <div class="hero-grid row g-4 g-xl-5 align-items-start">
        <!-- left col -->
        <div class="col-12 col-xl-6 d-flex justify-content-center justify-content-xl-start">
            <div id="hero-content-container"></div>
        </div>

        <!-- right col -->
        <div class="col-12 col-xl-6 hero-side-column d-flex justify-content-center justify-content-xl-end">
            <div id="manage-cards-container"></div>
        </div>
    </div>
</div>
